@import 'reset';

$color1: #aaddaa;
$color2: #006699;
$color3: #003399;
$color4: #eeeeff;
$color5: #ee0000;
$color6: #1177aa;
$color7: #ffa000;
$red: #ff0000;

$font: Arial, Helvetica, sans-serif;

body {
	background: $color1;
}
#wrapper {
	width: 400px;
	margin: 1em auto;
	padding: 1em;
	font-size: 1.3em;
	font-family: $font;
	border: 2px solid $color2;
	border-radius: 10px;
	box-shadow: 10px 10px 5px $color2;
	h1 {
		margin-bottom: 8px;
		text-align: center;
		font-size: 1.5em;
		font-weight: bold;
		color: $color3;
	}
	label {
		display: inline-block;
		color: $color2;
		margin: 5px 0;
		font-weight: bold;
	}
	input {
		width: 100%;
		font-size: 1em;
		padding: 10px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid $color2;
		border-radius: 5px;
		box-sizing: border-box;
		background: $color4;
		&:focus {
			outline: none;
			box-shadow: 0 0 10px $color2;
		}
	}
	button {
		border-radius: 10px;
		background: $color2;
		color: $color4;
		padding: 8px 12px;
		font-size: 1em;
		&:focus {
			outline: none;
		}
		&:hover {
			cursor: pointer;
		}
	}
	#error {
		font-weight: bold;
		text-align: center;
	}
	.error {
		font-weight: bold;
		text-align: center;
		color: $red;
	}
	.err {
		border-color: $color5;
		box-shadow: 0 0 10px $color5;
	}
}
#container {
	font-family: $font;
	width: 700px;
	margin: 0 auto;
	tr {
		&:nth-child(even) {
			background: $color6;
			color: $color4;
		}
		&:nth-child(odd) {
			background: $color4;
			color: $color6;
		}
		td button {
			outline: none;
			border: none;
			background: transparent;
			&:hover {
				cursor: pointer;
			}
			&.fa-pencil {
				margin-right: 5px;
				color: $color7;
			}
			&.fa-times {
				color: $red;
			}
		}
	}
	div {
		text-align: right;
		color: $color4;
		button {
			outline: none;
			border: none;
			background: transparent;
			&:hover {
				cursor: pointer;
			}
			&.fa-plus {
				color: $color2;
			}
		}
	}
	h1 {
		margin: 0.5em 0 0.3em 0;
		text-align: center;
		font-size: 3em;
		color: $color2;
	}
	table {
		width: 100%;
		border: 3px solid $color2;
		border-collapse: collapse;
	}
	td {
		height: 30px;
		padding: 10px;
		font-size: 1.5em;
		text-align: center;
	}
	th {
		height: 30px;
		padding: 10px;
		font-size: 1.5em;
		color: $color4;
		background: $color2;
		font-weight: bold;
	}
}